/* Define CSS Variables */
:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #0473fb;
    --dark-gray: #666;
    --light-gray: #aaa;
    --scrollbar-border: #1e1e1e;
    --hover-color: rgb(79, 0, 128);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    border-radius: 10px;
    border: 2px solid var(--scrollbar-border);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-gray);
}

/* Global styles */
body {
    background-color: #000;
    background-image: linear-gradient(270deg, #2d3436 0%, #000000 74%);
}

.navbar,
.footer {
    background-color: #000;
    background-image: linear-gradient(0deg, #2d3436 0%, #000000 74%);
}

.container {
    margin: 0 auto;
    padding: 0;
}

/* Navbar */
.nav-link {
    color: var(--secondary-color) !important;
}

.navbar-brand img {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    height: 50px;
    width: auto;
}

.navbar-toggler-icon {
    color: var(--secondary-color);
}

/* Carousel */
.carousel {
    text-align: center;
    margin: auto;
}

.carousel img {
    object-fit: cover;
    width: 100%;
    height: 320px;
}

.carousel-caption h3 {
    font-size: 14px;
}

/* Section headings */
h1,
.section-title {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.section-title {
    font-size: 32px;
    color: var(--secondary-color);
}

section h2 {
    padding: 30px 0;
}

/* Center alignment */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Cards */
.card,
.service {
    background: #FFEFBA;
    background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);
    background: linear-gradient(to left, #FFFFFF, #FFEFBA);
}

.card {
    opacity: 0;
    transform: translateX(-500px);
    transition: opacity 0.5s, transform 0.8s;
    min-height: 300px;
    padding: 30px;
    margin: 15px;
}

/* Services */
.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    flex-basis: 30%;
    padding: 30px;
    margin: 15px;
    text-align: center;
}

.service-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.service-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.service-description {
    font-size: 16px;
    text-align: left;
}

/* Buttons */
.btn200 {
    min-width: 200px;
    background-color: var(--primary-color);
    border: var(--primary-color);
}

.btn200:hover {
    background-color: var(--accent-color);
    border: var(--accent-color);
}

/* Scroll-to-top */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-to-top i {
    margin-top: 2px;
}

/* Footer */
.footer {
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}

.footer .fa {
    margin-right: 5px;
}

/* News headlines */
.news-headline {
    margin: 5px auto;
    background-color: var(--accent-color);
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: textAnimation 1.5s ease-in-out infinite;
}

.news-headline h2 {
    margin: 0;
    font-size: 13px;
    color: var(--primary-color);
}

/* Course cards */
.course-card {
    border: 1px solid #ddd;
    border-radius: 1rem;
    margin-bottom: 5px;
    background-color: var(--secondary-color);
}

.course h3 {
    margin: 30px 0;
}

/* Expandable description */
.expandable .description {
    display: none;
}

.expandable.expanded .description {
    display: block;
    font-size: 11px;
}

.description ul,
.description ol {
    padding: 0;
}

.description li {
    margin: 5px;
}

a>i {
    color: var(--primary-color);
}

/* Hover effects */
a>i:hover {
    color: var(--hover-color);
}

/* Enroll button */
.enrollnow {
    cursor: pointer;
}

form {
    border: 2px solid var(--secondary-color);
    padding: 1rem;
    border-top-left-radius: 1rem;
}

form label {
    color: var(--secondary-color);
}

/* Animation */
@keyframes textAnimation {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
    }
}

/* Media queries */
@media (min-width: 768px) {
    .course-card {
        padding: 30px;
        margin: 30px;
    }

    .container {
        width: 95%;
        max-width: 95%;
    }

    .carousel img {
        height: 500px;
    }

    .carousel-caption h3 {
        font-size: 24px;
    }
}




.contact-links {
    color: var(--secondary-color);
    font-size: 18px;
    max-width: 500px;
}

.contact-links a i {
    color: var(--secondary-color);
    text-decoration: none;
}

.contact-links a i:hover {
    color: var(--accent-color)
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Ensures navbar stays above other content */
    background-color: #333;
    /* You can change the background color */
    padding: 10px;
    /* Adjust padding as per your need */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Optional: adds a shadow effect when scrolling */
}


.intro {
    color: var(--accent-color);
}