a{color:black;text-decoration: none;}
a:hover { color: #fff; text-decoration: none; }

body {
	
}

#posttitle {
	width: 95%;
	border: solid 1px #6792EF;
	font-size: 15px;
	font-family: monospace;
	line-height: 15px;
}

.pagetitle{
	
	font-size: 24px;
	color: #3267d9;
	text-align:center;
	background: rgb(255, 255, 255);
	background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(132, 189, 255, 0.804359243697479) 100%);
	
}

.sample-toolbar {
	border: solid 1px #000;
	background: #6792EF;
	background: -webkit-linear-gradient(left, #6792EF, #22A890);
	background: -moz-linear-gradient(left, #6792EF, #22A890);
	background: linear-gradient(to right, #6792EF, #22A890);
	padding: 5px;
	border-radius: 3px;
}


.editor {
	border: solid 1px #6792EF;
	padding: 20px;
	min-height: 300px;
	font-size: 15px;
	font-family: monospace;
	line-height: 15px;
}

.menu {
	font-size: 11px;
	color: #ffa;
	font-family: monospace;
	background-color: #222;
	line-height: 15px;
	border: 1px solid #ffa;
}



#postcontenttitle {
	background: #6792EF;
	background: -webkit-linear-gradient(left, #6792EF, #22A890);
	background: -moz-linear-gradient(left, #6792EF, #22A890);
	background: linear-gradient(to right, #6792EF, #22A890);
}



#postcontent {
	background: rgb(255, 255, 255);
	background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(132, 189, 255, 0.804359243697479) 100%);
	border: 1px solid black;
	padding: 20px;
	font-family: monospace;
	font-size: 15px;
}

.buttonhtml {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #3267d9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.buttonhtml:hover {
  background-color: #0c49cc;
  border: white;
}

#maincontainer{
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
}

input {
  border: 1px solid #000;
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  width: 100px;
}

textarea {
	width: 100%;
	padding: 20px;
}

#copiedMessage {
	
	font-size: 11px;
	color: #ffa;
	font-family: monospace;
}

.footer {
        left: 0;
        bottom: 0;
        width: 100%!important;
        min-width: 300px;
        background: #6792EF;
      	background: -webkit-linear-gradient(left, #6792EF, #22A890);
      	background: -moz-linear-gradient(left, #6792EF, #22A890);
      	background: linear-gradient(to right, #6792EF, #22A890);
        color: black;
        text-align: center;
        padding-top:20px;
        padding-bottom:1px;
      }

      .footer a{
      	color: black;
      	text-decoration: underline;
      	font-weight: bold;
      }