.carousel {
    text-align: center;
    margin: auto;
}

.carousel img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/* Center align content */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Heading styles */
h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* Button styles */
.btn-xl {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-xl:hover {
    background-color: #0056b3;
}


/* Add custom CSS styles for card animation */
.card {
    opacity: 0;
    transform: translateX(-500px);
    transition: opacity 0.5s, transform 0.8s;
    min-height: 300px;
    margin-bottom: 10px;
}

/* Footer styles */
.footer {
    background-color: #999;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}

.footer .fa {
    margin-right: 5px;
}

/* CSS for the scroll-to-top button */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-to-top i {
    margin-top: 2px;
}


#services {
    background-color: #f8f8f8;
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    flex-basis: 30%;
    padding: 30px;
    margin: 15px;
    background-color: #ffffff;
    text-align: center;
}

.service-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.service-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.service-description {
    font-size: 16px;
}

.btn200 {
    min-width: 200px;
}

a>i:hover {
    color: rgb(79, 0, 128);
}

.news-headline {
    margin: 5px auto;
    background-color: #f9b1b1;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.news-headline h2 {
    margin: 0;
    font-size: 13px;
    color: #000;
}

.center {
    text-align: center;
}

.course-card {
    border: 1px solid #ddd;
    border-radius: 1rem;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .course-card {
        padding: 30px;
        margin: 30px;
    }
}


.course h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.coursedetails {
    text-align: left !important;
}

.expandable .description {
    display: none;
}

.expandable.expanded .description {
    display: block;
    font-size: 11px;
}

.description ul,
ol {
    padding: 0;
}

.description li {
    margin: 5px;
}

/* Define the animation keyframes */
@keyframes textAnimation {
    0% {
        opacity: 0.8;
        /* transform: translateX(700px); */
    }

    100% {
        opacity: 1;
        /* transform: translateX(0px); */
    }
}

/* Apply the animation to the text element */
.news-headline {
    animation: textAnimation 1s ease-in-out infinite;
}

.enrollnow {
    cursor: pointer;
}


/* Interview question css section */
:root {
    --themeColor: #4285F4;
    --themeColorLight: #4285F4;
    --white: #faf0e6;
}

#postcontenttitle {
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
    font-family: sans-serif;
    background-color: var(--themeColor) !important;
    color: #fff;
    border: 2px solid var(--themeColor);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#postcontent {
    margin: auto;
    background: rgb(255, 255, 255);
}

#postcontent a {
    color: blue !important;
}

#postcontent a:hover {
    color: lightblue !important;
}

.h-scrollable {
    overflow: auto;
    white-space: nowrap;
    padding: 5%;
    border: 1px solid #ddd;
    font-size: 0.8rem;
}

.code {
    padding: 15px;
    font-size: 0.75rem;
    font-family: monospace;
    color: #232323;
    background-color: #fff;
    border: 1px solid var(--themeColorLight);
    line-height: 1rem;
    min-height: 100px;
}

.viewAllLink {
    float: center;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
    font-family: sans-serif;
    color: var(--themeColor) !important;
    border-radius: 1rem;
    width: 200px;
}

.viewAllLink a {
    text-decoration: none;
    color: var(--themeColor) !important;
}

.center {
    margin: auto;
}

button {
    position: relative;
    background-color: var(--themeColor) !important;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    border: 2px solid var(--themeColor) !important;
}

button:after {
    content: "";
    background: var(--themeColor) !important;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    border: 2px solid var(--themeColor) !important;
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

button:hover {
    background-color: #FFFFFF !important;
    color: var(--themeColor) !important;
    border: 2px solid var(--themeColor) !important;
}

pre {
    background-color: var(--themeColorLight) !important;
    font-weight: bold;
    padding: 5px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Style for the question section */
.question {
    background-color: #f9f9f9;
    padding: 10px;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: sans-serif;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
    line-height: 1.5rem;
}


.question:hover {
    background-color: #555;
    color: #fff;
}

/* Style for the answer section */
.answer {
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    display: none;
}

/* Style for the active question section */
.question.active {
    background-color: var(--themeColor) !important;
    color: #fff;
}

.arrow-down {
    display: inline-block;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid #555;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(0deg);
    transition: transform 0.2s;
}

.question.active .arrow-down {
    transform: rotate(180deg);
    border-top: 10px solid #fff;
}

span.arrow-down {
    float: right;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.topic-list {
    list-style-type: none;
    padding: 0;
}

.topic-list li {
    margin-bottom: 10px;
}

.topic-list li a {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.topic-list li a:hover {
    background-color: #e6e6e6;
}