::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
    border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.navbar {
    background-color: #222;
}

.nav-link {
    color: #fff !important;
}

.navbar-brand img{
    border: 2px solid #fff;
    border-radius: 10px;
    height: 50px;
    width: auto;
}

.navbar-toggler-icon {
    color: #fff;
}

.carousel {
    text-align: center;
    margin: auto;
}

.carousel img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/* Center align content */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Heading styles */
h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* Button styles */
.btn-xl {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-xl:hover {
    background-color: #0056b3;
}


/* Add custom CSS styles for card animation */
.card {
    opacity: 0;
    transform: translateX(-500px);
    transition: opacity 0.5s, transform 0.8s;
    min-height: 300px;
    margin-bottom: 30px;
}

/* Footer styles */
.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}

.footer .fa {
    margin-right: 5px;
}

/* CSS for the scroll-to-top button */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-to-top i {
    margin-top: 2px;
}

section h2 {
    padding: 30px 0;
}

#services {
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #f8f9fa;
}

.section-title {
    text-align: center;
    font-size: 32px;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    flex-basis: 30%;
    padding: 30px;
    margin: 15px;
    background-color: #ffffff;
    text-align: center;
}

.service-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.service-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.service-description {
    font-size: 16px;
}

.btn200 {
    min-width: 200px;
}

a>i:hover {
    color: rgb(79, 0, 128);
}

.news-headline {
    margin: 5px auto;
    background-color: #f9b1b1;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.news-headline h2 {
    margin: 0;
    font-size: 13px;
    color: #000;
}


.course-card {
    border: 1px solid #ddd;
    border-radius: 1rem;
    margin-bottom: 5px;
    background-color: #ffffff;

}

@media (min-width: 768px) {
    .course-card {
        padding: 30px;
        margin: 30px;
    }

    .container {
        width: 95%;
        max-width: 95%;
    }
}


.course h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.coursedetails {
    text-align: left !important;
}

.expandable .description {
    display: none;
}

.expandable.expanded .description {
    display: block;
    font-size: 11px;
}

.description ul,
ol {
    padding: 0;
}

.description li {
    margin: 5px;
}

/* Define the animation keyframes */
@keyframes textAnimation {
    0% {
        opacity: 0.8;
        /* transform: translateX(700px); */
    }

    100% {
        opacity: 1;
        /* transform: translateX(0px); */
    }
}

/* Apply the animation to the text element */
.news-headline {
    animation: textAnimation 1s ease-in-out infinite;
}

.enrollnow {
    cursor: pointer;
}
